@model IEnumerable<string>

@{
    bool horizontal = (bool)(ViewContext.RouteData.Values["horizontalNav"] ?? false);
    string wrapperClasses = horizontal ? "btn-group btn-group-sm btn-group-justified" : null;
}

<div class="@wrapperClasses" style="margin-left: 20px">

    @Html.ActionLink("Все категории", "List", "Books", null, 
    new 
    { 
        @class = horizontal ? "btn btn-default btn-sm" :
        "btn btn-block btn-default btn-default"
    })

    @foreach (var link in Model)
    {
        @Html.RouteLink(link, new
        {
            controller = "Books",
            action = "List",
            genre = link,
            page = 1
        }, new
        {
            @class = (horizontal ? "btn btn-default btn-sm" :
            "btn btn-block btn-default btn-default")
            + (link == ViewBag.SelectedGenre ? " btn-primary" : "")
        })
    }
</div>

